<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title th:text="${topic.name}">Document</title>

    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/css/layout.css" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <header class="header">
        <h1 class="header__title">Surviving Coding Boot Camp</h1>
        <nav class="header__nav">
            <div class="header__nav-item"><a class="header__nav-link" href="/">Home</a></div>
            <div class="header__nav-item"><a class="header__nav-link" href="/hashtags">Hashtags</a></div>
        </nav>
    </header>
    <main class="main-content">
        <section class="main-content__topic topic">
            <h2 class="topic__title main-content__title" th:text="${topic.name}">
                Topic
            </h2>
            <nav class="main-content__nav posts__nav">
                <div th:each="post: ${topic.posts}">
                    <a class="posts__nav-link" href="#" th:href="'/posts/'+${post.id}"
                       th:text="${post.title}"></a>
                </div>
            </nav>
        </section>
    </main>
</div>
</body>

</html>