<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title th:text="${post.title}">Document</title>
    <link href="/assets/icon.png" rel="icon">
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/css/layout.css" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <header class="header">
        <h1 class="header__title">Surviving Coding Boot Camp</h1>
        <nav class="header__nav">
            <div class="header__nav-item"><a class="header__nav-link" href="/">Home</a></div>
            <div class="header__nav-item"><a class="header__nav-link" href="/hashtags">Hashtags</a></div>
        </nav>
    </header>
    <main class="main-content">
        <section class="main-content__post post">
            <h3 class="post__topic-title main-content__topic-title"><a class="main-content__topic-link post__topic-link"
                                                                       th:href="'/topics/'+${post.topic.id}"
                                                                       th:text="${post.topic.name}">Topic</a>
            </h3>
            <h2 class="post__title main-content__topic-title" th:text="${post.title}">Post Title</h2>
            <p class="post__content" th:text="${post.content}">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Doloremque blanditiis, aut quae fuga id quis ut.
                Eligendi necessitatibus blanditiis officia, odio deleniti natus molestiae fugiat ex quod vel aliquam
                illum.
            </p>
            <h2 th:text = "${post.author}">Author</h2>
            <ul>
                <li th:each="hashtag: ${post.hashtags}">
                    <a th:href="@{'/hashtags/'+ ${hashtag.id}}" th:text="${hashtag.name}"></a>
                </li>
            </ul>
            <form th:action="'/hashtags/add/' + ${post.id}" method="post">
                <label for="hashtag">Add Hashtag:</label>
                <input type="text" id="hashtag" name="hashtag">
                <button type="submit">Submit</button>
            </form>
        </section>

    </main>
</div>

</body>

</html>